
@using System.Collections.Generic;
@{
    ViewBag.Title = "JobworkReceipt";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using Transactiondetails.ViewModels
@using GridMvc.Html
@model IEnumerable<JobReciptVM>
<style>
    /* #tbsearch span {
        display: none;
    }*/
</style>
<!--<div class="pagetitle">-->
@*<h1>Dashboard</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item active">Dashboard</li>
        </ol>
    </nav>*@
<!--</div>-->
@*<link href="https://code.jquery.com/ui/1.12.0-rc.2/themes/smoothness/jquery-ui.css" rel="stylesheet" />*@
<link href="~/Content/jquery-ui-themes-1.13.2/jquery-ui.css" rel="stylesheet" />
<link href="~/Content/jquery-ui-themes-1.13.2/themes/base/theme.css" rel="stylesheet" />
<style type="text/css">
    .Pager span {
        text-align: center;
        color: #333;
        display: inline-block;
        width: 20px;
        background-color: #B8DBFD;
        margin-right: 3px;
        line-height: 150%;
        border: 1px solid #B8DBFD;
    }

    .Pager a {
        text-align: center;
        display: inline-block;
        width: 20px;
        background-color: #ccc;
        color: #333;
        border: 1px solid #ccc;
        margin-right: 3px;
        line-height: 150%;
        text-decoration: none;
    }
</style>
<section class="section dashboard">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title"> Jobwork Receipt</h4>
                    <div class="row g-3">
                        <div class="col-10 search-bar">
                            <ul class="nav nav-pills card-header-pills">
                                <li class="nav-item ps-lg-2">
                                    <label for="inputEmail3" class="col-form-label">Receipt Date</label>
                                </li>
                                <li class="nav-item ps-lg-2">
                                    @Html.TextBox("ReferenceDate", null, new { @class = "form-control" })
                                </li>
                                <li class="nav-item ps-lg-2">
                                    <label for="inputEmail3" class="col-form-label">Account Code</label>
                                </li>
                                <li class="nav-item ps-lg-2">
                                    @Html.TextBox("AccountCode", null, new { @class = "form-control" })
                                </li>
                                <li class="nav-item ps-lg-2">
                                    <button id="btnSearch" class="btn btn-primary btn-sm">Search</button>
                                </li>
                            </ul>
                        </div>
                        <div class="col-2 text-sm-end">
                            <button id="btnAddNew" class="btn btn-primary">Add New</button>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div id="grd">

                        @{
                            WebGrid objWebGrid = new WebGrid(Model, rowsPerPage: 10, ajaxUpdateContainerId: "grd", canPage: true);
                        }
                        @objWebGrid.GetHtml(
                   htmlAttributes: new { @id = "WebGrid", @class = "Grid" },
                   tableStyle: "table table-striped table-bordered",
                   headerStyle: "Grid-Header",
                   alternatingRowStyle: "Grid-rowstyle",
                   selectedRowStyle: "Grid-selected",
                   rowStyle: "Grid-rowstyle",
                   footerStyle: "gridFooter",
                   mode: WebGridPagerModes.All, //Specifies flags that describe the methods that are provided for moving between the pages of a WebGrid instance. source msdn.microsoft.com
                columns:
                   objWebGrid.Columns
                   (
                       objWebGrid.Column(columnName: "AccountCode", header: "Account Code"),
                       objWebGrid.Column(columnName: "AccountName", header: "Account Name"),
                       objWebGrid.Column(columnName: "SerialNumber", header: "Serial Number"),
                       objWebGrid.Column(columnName: "ReferenceDate", header: "Reference Date"),
            @*objWebGrid.Column(format:@<text><a href="" onclick="DeleteME('@item.SerialNumber')">Delete</a></text>),*@
objWebGrid.Column(header: "Action", format: @<a data-value="@item.SerialNumber" href="javascript:void(0)" class="btn btn-primary btn-sm btnEdit">Edit</a>))
)
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div id="dialog" title="edit view" style="overflow: hidden;"></div>

@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ajax-unobtrusive/3.2.6/jquery.unobtrusive-ajax.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/jquery-ui.min.js"></script>


    <script type="text/javascript">
        var id = 0;
        $(document).on('click', '#btnAddNew', function () {
            id = 0;
            $('#dialog')
                .dialog({ title: 'Add Jobwork Recipits' })
                .dialog('open');
        });

        $(document).on('click', '.btnEdit', function () {
            id = $(this).attr("data-value");
            $('#dialog')
                .dialog({ title: 'Edit Jobwork Recipits' })
                .dialog('open');

        });

        $("body").on("dblclick", "#WebGrid .Grid-rowstyle td", function () {
            var row = $(this).closest("tr");
            id = $(row).find("a").attr("data-value");
            title = 'Edit Jobwork Recipits';
            $('#dialog')
                .dialog({ title: 'Edit Jobwork Recipits' })
                .dialog('open');

        });

        $(function () {

            $('#dialog').dialog({
                autoOpen: false,
                width: '1000',
                resizable: false,
                title: 'Add Jobwork Recipits',
                modal: false,
                open: function (event, ui) {
                    // Load partial view _GridEditPartial
                    if (id == 0) {
                        $(this).load("@Url.Action("GetJobworkRecipt")");
                    } else {
                        $(this).load("@Url.Action("GetJobworkReciptBySerialNo")", { id: id });
                    }

                },
                //buttons: {

                //    "Save": function () {
                //        $(this).dialog("close");
                //    },

                //    "Close": function () {
                //        $(this).dialog("close");
                //    }
                //}
                //open: function (event, ui) {
                //    $("body").css({
                //        overflow: 'hidden'
                //    });
                //    //$(".ui-widget-overlay").css({
                //    //   /* background: "rgb(0, 0, 0)",*/
                //    //    opacity: ".50 !important",
                //    //    filter: "Alpha(Opacity=50)",
                //    //});
                //},
                //beforeClose: function (event, ui) {
                //    $("body").css({ overflow: 'inherit' })
                //}
            });
        });


        $(function () {
            $("#ReferenceDate").datepicker();
        });
    </script>
}


<style type="text/css">

    .search-bar .form-control {
        padding: .200rem .50rem !important;
    }

    .search-bar .col-form-label {
        padding-top: calc(.175rem + 1px) !important;
    }

    .ui-dialog-titlebar-close {
        padding: 0 !important;
    }

        .ui-dialog-titlebar-close:after {
            content: '';
            width: 20px;
            height: 20px;
            display: inline-block;
            /* Change path to image*/
            background-image: url(/Content/jquery-ui-themes-1.13.2/themes/base/images/ui-icons_777777_256x240.png);
            background-position: -96px -128px;
            background-repeat: no-repeat;
        }

    .ui-dialog-buttonset > button {
        border: 1px solid #c5c5c5 !important;
        /*border-top-right-radius: 3px !important;
        border-top-left-radius: 3px !important;*/
        border-radius: 3px;
    }

    .ui-dialog.ui-widget.ui-widget-content {
        /* and no special background for the dialog */
    }

    .ui-widget-overlay {
        opacity: 1 !important; /* Make sure to change both of these, as IE only sees the second one */
        /*filter: Alpha(Opacity=50) !important;
        background: rgb(50, 50, 50) !important;*/ /* This will make it darker */
    }

    .gridTable {
        margin: 5px;
        padding: 10px;
        border: 1px #c8c8c8 solid;
        border-collapse: collapse;
        min-width: 550px;
        background-color: #fff;
        color: #fff;
    }

    .gridHead th {
        font-weight: bold;
        background-color: #030D8D;
        color: #fff;
        padding: 10px
    }

    .gridHead a:link, .gridHead a:visited, .gridHead a:active, .gridHead a:hover {
        color: #fff;
    }

    .gridHead a:hover {
        text-decoration: underline;
    }

    .gridTable tr.gridAltRow {
        background-color: #efeeef;
    }

    .gridTable tr:hover {
        background-color: #f6f70a;
    }

    .gridAltRow td {
        padding: 10px;
        margin: 5px;
        color: #333;
    }

    .gridRow td {
        padding: 10px;
        color: #333;
    }

    .gridFooter td {
        padding: 10px;
        background-color: #c7d1d6;
        color: #999;
        font-size: 12pt;
        text-align: center;
    }

    .gridFooter a {
        font-weight: bold;
        color: #333;
        border: 1px #333 solid;
        padding: 2px 6px;
    }
</style>