
@using Transactiondetails.Models;
@model IEnumerable<sp_GetDespatchData_Result>
@*<span class="close" style="margin-right: 41px;" id="spanEdit">&times;</span>*@
@{
    int row = 1;

}

<div class="card-body" style="display:block">
    <div>
        <div style=" display: inline-block;float: left;margin-top: 6px;"><h5>Despatch Date@*e<span class="req"></span>*@</h5></div>
        <div style=" float: left; display: inline-block; margin-left: 12px;">
            <input type="date" class="form-control" value="@TempData["ReferenceDate"]"  name="referenceDate" id="referenceDateDespatch" required />
        </div>

        <div style="display: inline-block;float: left;margin-top: 6px;margin-left: 30px;"><h5>Despatch No</h5></div>
        <div style=" float: left; display: inline-block; margin-left: 12px;">
            <input type="text" class="form-control" value="@TempData["serialNo"]" id="serialNoDespatch">
        </div>
        <br />
        <br />
        <br />
        <div style="display: inline-block;float: left;margin-top: 6px;"><h5>Customer Name@*<span class="req"></span>*@</h5></div>
        <div style=" float: left; display: inline-block; margin-left: 12px;">
            @*<input type="text" class="form-control">*@
            @Html.DropDownList("AccountCode", new SelectList(ViewBag.Customer, "AccountCode", "AccountName", TempData["Customer"]), "Please select", new { @id = "ddlCustomerDespatch", @class = "form-select", required = (string)null, @ng_model = "AccountCode" })
        </div>
        <br />
        <br />
        <br />
        <div style="float: left;margin-top: 6px;"><h5>Reciept No@*<span class="req"></span>*@</h5></div>
        <div style=" float: left;  margin-left: 12px;">
            @*<input type="text" class="form-control">*@
            @*@Html.DropDownList("SerialNumber", new SelectList(ViewBag.serialNo), "Please select", new { @id = "ddlReciept", @class = "form-select" })*@
            @Html.ListBox("SerialNumber", new SelectList(ViewBag.serialNo), new { @id = "ddlReciept", @class = "form-MultiSelect selectpicker" })
            <button type="submit" id="btnApply" class="btn btn-primary me-1 mb-1">Apply</button>
        </div>

    </div>
    <div class="card-body px-3 py-4-5" >

       <div id="divrecieptSelect" style="display:none">


       </div>
    </div>
</div>
<script>
    $(function () {
        $(document).ready(function () {
            $('.selectpicker').selectpicker({
                liveSearch: true,
                showSubtext: true
            });
        });
        var btnApply = document.getElementById("btnApply");

        var url = '@Url.Action("SelectWorkDespatch", "Home")';

        var divPartial = document.getElementById("divrecieptSelect");
        //$('#ddlReciept').change(function () {
        //    //var serialNo = $('#ddlReciept :selected').text();
        //    var serialNo = $('#ddlReciept').val();
            
        //    $('#divrecieptSelect').load(url, { serialNos: serialNo });
        //    divPartial.style.display = "block";
        //});
        btnApply.onclick = function () {
            var serialNo = $('#ddlReciept').val().join(",");
            //var ds = serialNo.join(",");
            $('#divrecieptSelect').load(url, { serialNos: serialNo });
            divPartial.style.display = "block";
        }

    });
</script>

