@using Transactiondetails.Models;
@model IEnumerable<sp_GetSelectedData_Result>
@*<span class="close" style="margin-right: 41px;" id="spanEdit">&times;</span>*@
@{
    var trcount = 0;
}
<div class="card-body" id="divPartial">
    <div class="row g-3">
        <div class="col-lg-10">
            <div class="row">
                <div class="col-sm-2">
                    <label for="inputEmail3" class="col-form-label">Receipt Date</label>
                </div>
                <div class="col-sm-5">
                    <input type="date" class="form-control" value="@TempData["ReferenceDate"]" id="referenceDate" required />
                </div>
                <div class="col-sm-2 mr-minus">
                    <label for="inputEmail3" class="col-form-label">Receipt No</label>
                </div>
                <div class="col-sm-3">
                    <input type="text" class="form-control" value="@TempData["serialNo"]" id="recieptNo">
                </div>
            </div>
        </div>
        <div class="col-lg-10">
            <div class="row">
                <label for="inputEmail3" class="col-sm-2 col-form-label">Customer Name</label>
                <div class="col-sm-5">
                    @Html.DropDownList("AccountCode", new SelectList(ViewBag.Customer, "AccountCode", "AccountName", TempData["AccountCode"]), "Please select", new { @id = "ddlCustomer", @class = "form-select", required = (string)null, @ng_model = "AccountCode" })
                </div>
                @*<label for="inputEmail3" class="col-sm-2 col-form-label">Receipt No</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" value="@TempData["recieptNo"]" id="recieptNo">
                    </div>*@
            </div>
        </div>
    </div>
    <div id="newone" class="pt-4">
        <table id="receipt" class="table table-bordered">
            <thead>
                <tr>
                    <th>Process</th>
                    <th>Packet No</th>
                    <th>Pieces</th>
                    <th>Carats</th>
                    <th>Lines</th>
                    <th>Remarks</th>
                    <th></th>
                </tr>
            </thead>

            @foreach (var item in Model)
            {
                var idstr = "tr" + trcount;
                <tr id="@idstr">

                    <td>
                        @Html.DropDownList("ProcessCode", new SelectList(ViewBag.Process, "ProcessCode", "ProcessName", @item.ProcessCode), "Please select", new { @id = "ddlStatus", @class = "form-select", required = (string)null, @ng_model = "ProcessCode", @ng_class = "{true: 'reqNolabel'}[receiptValidation.ProcessCode.$error.required]" })
                    </td>
                    <td><input type="text" class="form-control" id="1" value="@item.PacketNumber" required></td>
                    <td><input type="text" class="form-control" id="2" value="@item.ItemPieces" required></td>
                    <td><input type="text" class="form-control" id="3" value="@item.ItemCarats" required></td>
                    <td><input type="text" class="form-control" id="4" value="@item.ItemLines" required></td>
                    <td><input type="text" class="form-control" id="5" value="@item.Remarks" required></td>
                    <td class="plsRow"><a class="addRow" href="#"><i class="fa fa-plus"></i></a><a class="deleteRow" href="#"><i class="fa fa-trash"></i></a></td>
                    <td style="display:none"><input type="text" class="form-control" id="0" value="@item.ItemSerialNumber"></td>
                </tr>
                trcount++;
            }


        </table>

    </div>

</div>

<script>
    $(function () {

        let rowCount = 1;

        $("#ReceiptSearch").on('click', '.addRow', function (e) {
            //rowCount = $('#receipt >tbody >tr').length;
            //alert($(this).closest('td').parent()[0].sectionRowIndex);
            rowCount = $(this).closest('td').parent()[0].sectionRowIndex;
            var flag = 0;
            if ($('#ReceiptSearch>tbody>#tr' + rowCount).find("td:eq(0) select").find(':selected').val() == "" || $('#ReceiptSearch>tbody>#tr' + rowCount).find("td:eq(0) select").find(':selected').val() == undefined) {
                $('#ReceiptSearch>tbody>#tr' + rowCount).find("td:eq(0) select").addClass("reqNolabel");
                flag = 1;
            }
            else
                $('#ReceiptSearch>tbody>#tr' + rowCount).find("td:eq(0) select").removeClass("reqNolabel");
            for (i = 1; i <= 4; i++) {
                if ($('#ReceiptSearch>tbody>#tr' + rowCount).find("td:eq(" + i + ") input[type='text']").val() == "" || $('#ReceiptSearch>tbody>#tr' + rowCount).find("td:eq(" + i + ") input[type='text']").val() == undefined) {
                    $('#ReceiptSearch>tbody>#tr' + rowCount).find("td:eq(" + i + ") input[type='text']").addClass("reqNolabel");
                    flag = 1;
                }
                else
                    $('#ReceiptSearch>tbody>#tr' + rowCount).find("td:eq(" + i + ") input[type='text']").removeClass("reqNolabel");
            }
            if (flag == 1)
                return;
            var tr = $("#detailsdiv").find("Table").find("tr:last").clone();
            rowCount++;
            tr.attr("id", "tr" + rowCount);
            //tr.find("td:eq(0) select").attr({ "ng-model": "input1" + rowCount, "name": "input1" + rowCount, "ng-class": "{true: 'reqNolabel'}[receiptValidation.input1" + rowCount+".$error.required]" })
            tr.find("input:text").val("");
            tr.find("select").val("");
            $("#ReceiptSearch").append(tr);
        });

        $("#ReceiptSearch").on('click', '.deleteRow', function () {
            if (1 != $('#exampleSearch >tbody >tr').length)
                $(this).parent().parent().remove();
        });


    });


    
</script>