@model  Transactiondetails.ViewModels.JobBillingViewModel
@using Newtonsoft.Json;

@{
    var jsonMode = JsonConvert.SerializeObject(Model.Mode);
    var jsonModel = JsonConvert.SerializeObject(Model);
    var htmlAttributes = new Dictionary<string, object>();
    htmlAttributes.Add("class", "form-control");
    htmlAttributes.Add("readonly", true);
    //if (Model.Mode == Transactiondetails.ViewModels.Mode.Update)
    //{
    //    htmlAttributes.Add("readonly", true);
    //}
}

@using (Ajax.BeginForm("SaveJobworkDespatch", "JobWorkDespatchs", new AjaxOptions { HttpMethod = "Post", UpdateTargetId = "result", OnSuccess = "AjaxFormSuccess" }, new { id = "JobworkReceiptPop" }))
{
    @Html.HiddenFor(model => model.Mode)
    <div class="row g-3">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-sm-2">
                    <label for="inputEmail3" class="col-form-label">Customer</label>
                </div>
                <div class="col-sm-5">
                    @Html.DropDownList("AccountCode", new SelectList(Model.Accounts, "AccountCode", "AccountName", Model.AccountCode), "Please select", new { @id = "ddlCustomer", @class = "form-select" })
                    @Html.HiddenFor(model => model.AccountCode, new { @id = "AccountCodedummy" })

                </div>
                <div class="col-sm-2 mr-minus">
                    <label for="inputEmail3" class="col-form-label">Date</label>
                </div>
                <div class="col-sm-3">
                    @Html.TextBoxFor(x => x.ReferenceDate, "{0:dd/MM/yyyy}", new { @id = "ReferenceDate1", @class = "form-control" })
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="row">
                <label for="inputEmail3" class="col-sm-2 col-form-label">Sale Account</label>
                <div class="col-sm-5">
                    @Html.DropDownList("AccountCode", new SelectList(Model.Accounts, "AccountCode", "AccountName", Model.AccountCode), "Please select", new { @id = "ddlCustomer", @class = "form-select" })
                    @Html.HiddenFor(model => model.AccountCode, new { @id = "AccountCodedummy" })

                </div>
                <div class="col-sm-2 mr-minus">
                    <label for="inputEmail3" class="col-form-label">Posting Date</label>
                </div>
                <div class="col-sm-3">
                    @Html.TextBoxFor(x => x.PostingDate, "{0:dd/MM/yyyy}", new { @id = "PostingDate", @class = "form-control" })
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="row">
                <label for="inputEmail3" class="col-sm-2 col-form-label">Credit Days</label>
                <div class="col-sm-5">
                    @Html.TextBoxFor(x => x.CreditDays, new { @class = "form-control" })
                </div>
                <div class="col-sm-2 mr-minus">
                    <label for="inputEmail3" class="col-form-label">Ref. No</label>
                </div>
                <div class="col-sm-3">
                    @Html.TextBoxFor(x => x.RefNo, new { @class = "form-control" })
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <div id="newone" class="row pt-1 newone-css" style="overflow-x:auto;">
                <table id="despatch" class="table table-bordered">
                    <thead>
                        <tr>
                            <th style="width:250px;">Ref. Date</th>
                            <th style="width:400px;">Process</th>
                            <th style="width:200px;">Packet No</th>
                            <th style="width:200px;">Pieces</th>
                            <th style="width:200px;">Carats</th>
                            <th style="width:200px;">Lines</th>
                            <th style="width:200px;">Pieces Despatch</th>
                            <th style="width:200px;">Carats Despatch</th>
                            <th style="width:200px;">Lines Despatch</th>
                            <th style="width:200px;">Weight Loss</th>
                            <th style="width:200px;">Status</th>
                            <th style="width:200px;">Billing Unit</th>
                            <th style="width:200px;">Billing Qty</th>
                            <th style="width:200px;">No Charge Qty</th>
                            <th style="width:200px;">Rate</th>
                            @*<th style="width:200px;">Remarks</th>*@
                        </tr>
                    </thead>
                    @for (var i = 0; i < Model.JobBillingDetails.Count(); i++)
                    {

                        <tr class="receipt-@Model.JobBillingDetails[i].ProcessCode">
                            <td>
                                @Model.JobBillingDetails[i].ReferenceDate

                            </td>
                            <td>
                                @Model.JobBillingDetails[i].ProcessName

                            </td>
                            <td>
                                @Html.TextBoxFor(model => Model.JobBillingDetails[i].PacketNumber, new { @required = true, @readonly = true, @class = "form-control numberonly" })
                            </td>
                            <td>
                                @Html.TextBoxFor(model => Model.JobBillingDetails[i].ItemPieces, new { @required = true, @readonly = true, @class = "form-control allow_decimal" })
                            </td>
                            <td>
                                @Html.TextBoxFor(model => Model.JobBillingDetails[i].ItemCarats, new { @required = true, @readonly = true, @class = "form-control allow_decimal" })
                            </td>
                            <td>
                                @Html.TextBoxFor(model => Model.JobBillingDetails[i].ItemLines, new { @required = true, @readonly = true, @class = "form-control allow_decimal" })
                            </td>
                            <td>
                                @Html.TextBoxFor(model => Model.JobBillingDetails[i].JDItemPieces, new { @required = true, @class = "form-control allow_decimal BalItemPieces" })
                            </td>
                            <td>
                                @Html.TextBoxFor(model => Model.JobBillingDetails[i].JDItemCarats, new { @required = true, @class = "form-control allow_decimal BalItemCarats" })
                            </td>
                            <td>
                                @Html.TextBoxFor(model => Model.JobBillingDetails[i].JDItemLines, new { @required = true, @class = "form-control allow_decimal BalItemLines" })
                            </td>
                            <td>
                                @Html.TextBoxFor(model => Model.JobBillingDetails[i].WeightLoss, new { @class = "form-control numberonly" })
                            </td>
                            <td>
                                @Html.DropDownListFor(model => Model.JobBillingDetails[i].Status, (new[] { new SelectListItem { Text = "Yes", Value = "yes" }, new SelectListItem { Text = "No", Value = "no" } }), new { @class = "form-select" })

                            </td>
                            <td>
                                @Html.TextBoxFor(model => Model.JobBillingDetails[i].BillingUnit, new { @readonly = true, @class = "form-control" })
                            </td>
                            <td>
                                @Html.TextBoxFor(model => Model.JobBillingDetails[i].BillingQuantity, new { @class = "form-control" })
                            </td>
                            <td>
                                @Html.TextBoxFor(model => Model.JobBillingDetails[i].NoChargeQuantity, new { @class = "form-control numberonly" })
                            </td>
                            <td>
                                @Html.TextBoxFor(model => Model.JobBillingDetails[i].BillingRate, new { @readonly = true, @class = "form-control" })
                            </td>
                            <td>
                                @*@Html.TextBoxFor(model => Model.JobBillingDetails[i].Remarks, new { @class = "form-control" })*@
                                @Html.HiddenFor(model => Model.JobBillingDetails[i].ItemSerialNumber)
                                @Html.HiddenFor(model => Model.JobBillingDetails[i].SerialNumber)
                                @Html.HiddenFor(model => Model.JobBillingDetails[i].JDSerialNumber)
                                @Html.HiddenFor(model => Model.JobBillingDetails[i].JDItemSerialNumber)
                                @Html.HiddenFor(model => Model.JobBillingDetails[i].ProcessCode)
                            </td>
                        </tr>
                    }
                </table>

            </div>
            <div class="jqueryTbl-container" style="overflow-x:auto;">
                <table id="jqueryTbl"></table>
                <div class="ui-dialog-buttonset offset-lg-11 pt-lg-3 pb-lg-1 ps-5">
                    <button type="button" class="btn btn-default select-pending-receipt">Select</button>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-4">
                    <div class="row">
                        <label for="inputEmail3" class="col-sm-2 col-form-label">Remarks</label>
                        <div class="col-sm-10">
                            @Html.TextAreaFor(x => x.Remarks, new { @row = "2", @class = "form-control" })
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="row mb-3">
                        <label for="inputEmail3" class="col-sm-3 col-form-label">Cash</label>
                        <div class="col-sm-9">
                            @Html.TextBoxFor(x => x.Cash, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="inputEmail3" class="col-sm-3 col-form-label">Bill Amount</label>
                        <div class="col-sm-9">
                            @Html.TextBoxFor(x => x.BillAmmount, new { @class = "form-control" })
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="row mb-3">
                        <label for="inputEmail3" class="col-sm-3 col-form-label">SGST</label>
                        <div class="col-sm-9">
                            @Html.TextBoxFor(x => x.SGST, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="inputEmail3" class="col-sm-3 col-form-label">CGST</label>
                        <div class="col-sm-9">
                            @Html.TextBoxFor(x => x.CGST, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="inputEmail3" class="col-sm-3 col-form-label">IGST</label>
                        <div class="col-sm-9">
                            @Html.TextBoxFor(x => x.IGST, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="inputEmail3" class="col-sm-3 col-form-label">Net Amount</label>
                        <div class="col-sm-9">
                            @Html.TextBoxFor(x => x.NewAmount, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="inputEmail3" class="col-sm-3 col-form-label">Final Amount</label>
                        <div class="col-sm-9">
                            @Html.TextBoxFor(x => x.FinalAmount, new { @class = "form-control" })
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-12 button-container newone-css">
            <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
                <div class="ui-dialog-buttonset ps-sm-5">
                    <button type="submit" class="btn btn-secondary">Submit</button>
                    <button type="button" class="btn btn-default btn-close-dialog ">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div id="result">

    </div>
}

<script type="text/javascript">

    var mode =@(Html.Raw(jsonMode));


    $(function () {

        $("#ReferenceDate1").on("focusin", function (e) {
            return false; // or e.stopPropagation();
        }).datepicker({
            /*showOn: "button",*/
            autoOpen: false,
            showButtonPanel: false,
            dateFormat: 'dd-mm-yy',
            onSelect: function () {

            }
        });

        $("#PostingDate").on("focusin", function (e) {
            return false; // or e.stopPropagation();
        }).datepicker({
            /*showOn: "button",*/
            autoOpen: false,
            showButtonPanel: false,
            dateFormat: 'dd-mm-yy',
            onSelect: function () {

            }
        });

    })


    $(function () {

        var data =@(Html.Raw(jsonModel));
        var pageWidth = $("#jqueryTbl").parent().width() - 100;
        $("#jqueryTbl").jqGrid({
            data: [],
            datatype: 'local',
            colModel: [
                /*{ label: 'Tag', name: "Tag", width: 50, align: "center", sortable: false, formatter: "checkbox", formatoptions: { disabled: false }, edittype: "checkbox", editoptions: { value: "True:False" }, formatoptions: { disabled: false }, multiselect: true },*/
                { label: "Ref Date", name: "ReferenceDate", width: (pageWidth * (15 / 100)), align: "center", formatter: "date", formatoptions: { srcformat: "m/d/Y h:i:s A", newformat: "m/d/Y" } },
                { label: "Customer", width: (pageWidth * (20 / 100)), align: "center", name: "CustomrName" },
                { label: "Process ", width: (pageWidth * (24 / 100)), align: "center",  name: "ProcessName"},
                { label: "Packet No", width: (pageWidth * (10 / 100)), align: "center", name: "PacketNumber"},
                { label: "Pieces", width: (pageWidth * (6 / 100)), align: "center", name: "ItemPieces"},
                { label: "Pending Pieces", width: (pageWidth * (10 / 100)), align: "center", name: "JDItemPieces"},
                { label: "Carats", width: (pageWidth * (5 / 100)), align: "center", name: "ItemCarats"},
                { label: "Pending Carats", width: (pageWidth * (10 / 100)), align: "center", name: "JDItemCarats" },
                { label: "Lines", width: (pageWidth * (5 / 100)), align: "center", name: "ItemLines" },
                { name: "ItemSerialNumber", hidden: 'true' },
                { name: "SerialNumber", hidden: 'true' },
                { name: "ProcessCode", hidden: 'true' },
                { name: "BillingType", hidden: 'true' }
            ],
            cmTemplate: { sortable: false },
            loadonce: true,
            height: '100%',
            width: '100%',
            multiselect: true,
            multiselectWidth: 30,
            shrinkToFit: true,
            onSelectRow: function (rowid, status, e) {

            },
            gridComplete: function () {

            }
        });


        $(".select-pending-receipt").on("click", function (e) {

            $("#ddlCustomer").val();
            $("#AccountCodedummy").val($("#ddlCustomer").val());
            $("#ddlCustomer").prop("disabled", "disabled");
            getSelectedRows();
        });

        function getSelectedRows() {

            let $grid = $("#jqueryTbl");
            let rowKey = $grid.getGridParam("selrow");
            let gridData = [];

            if (!rowKey) {
                alert("No rows are selected");
                return;
            }

            let selectedRows = $("#jqueryTbl").jqGrid("getGridParam", "selarrrow");

            // loop through the IDs to retrieve the data for each selected row
            for (var i = 0; i < selectedRows.length; i++) {
                var rowData = $("#jqueryTbl").jqGrid("getRowData", selectedRows[i]);
                gridData.push(rowData);
            }

            let $tr = $("#newone").find("Table").find("tr:last");
            for (let i = 0; i < gridData.length; i++) {

                if (i === 0) {

                    $tr.find("td:nth-child(1)").html(moment(gridData[i].ReferenceDate).format('MM/DD/YYYY'));
                    $tr.find("td:nth-child(2)").html(gridData[i].ProcessName);
                    $tr.find("input[name*='PacketNumber']").val(gridData[i].PacketNumber);
                    $tr.find("input[name*='ItemPieces']").val(gridData[i].ItemPieces);
                    $tr.find("input[name*='ItemLines']").val(gridData[i].ItemLines);
                    $tr.find("input[name*='ItemCarats']").val(gridData[i].ItemCarats);
                    $tr.find("input[name*='JDItemPieces']").val(gridData[i].JDItemPieces);
                    $tr.find("input[name*='JDItemCarats']").val(gridData[i].JDItemCarats);
                    $tr.find("input[name*='JDItemLines']").val(gridData[i].JDItemLines);
                    $tr.find("input[name*='ProcessCode']").val(gridData[i].ProcessCode);
                    $tr.find("input[name*='BillingUnit']").val(gridData[i].BillingType);
                    /*$tr.find("input[name*='SerialNumber']").val(gridData[i].SerialNumber);*/
                    //$tr.find("input[name*='ItemSerialNumber']").val(gridData[i].ItemSerialNumber);
                    $tr.find("input[type=hidden][name*='JDSerialNumber']").val(gridData[i].SerialNumber);
                    $tr.find("input[type=hidden][name*='JDItemSerialNumber']").val(gridData[i].ItemSerialNumber);
                    $tr.find("input[type=hidden][name*='SerialNumber']").val(gridData[i].SerialNumber);
                    $tr.find("input[type=hidden][name*='ItemSerialNumber']").val(i + 1);
                    /*$tr.find("select[name*='Status']").val();*/

                    continue;
                }

               let $trClone = $tr.clone();

                $trClone.find("td:nth-child(1)").html(gridData[i].ReferenceDate);
                $trClone.find("td:nth-child(2)").html(gridData[i].ProcessName);

                $trClone.find("input[type=text]").each(function (idx, inputElm) {

                    let $inputText = $(this);
                    let newId = $inputText.attr("id").replace(/\d+/, i);
                    let newName = $inputText.attr("name").replace(/\d+/, i);
                    $inputText.attr("id", newId);
                    $inputText.attr("name", newName);

                });

                $trClone.find("input[type=hidden]").each(function (idx, inputElm) {

                    let $inputHidden = inputElm;
                    let newId = $inputHidden.id.replace(/\d+/, i);
                    let newName = $inputHidden.name.replace(/\d+/, i);
                    $inputHidden.id= newId;
                    $inputHidden.name = newName;
                });

                $trClone.find("select").each(function (idx, inputElm) {

                    let $inputSelect = inputElm;
                    let newId = $inputSelect.id.replace(/\d+/, i);
                    let newName = $inputSelect.name.replace(/\d+/, i);
                    $inputSelect.id = newId;
                    $inputSelect.name = newName;
                });

                $trClone.find("input[type=hidden][name*='JDSerialNumber']").val(gridData[i].SerialNumber);
                $trClone.find("input[type=hidden][name*='JDItemSerialNumber']").val(gridData[i].ItemSerialNumber);
                $trClone.find("input[type=hidden][name*='SerialNumber']").val(gridData[i].SerialNumber);
                $trClone.find("input[type=hidden][name*='ItemSerialNumber']").val(i+1);
                $trClone.find("input[name*='PacketNumber']").val(gridData[i].PacketNumber);
                $trClone.find("input[name*='ItemPieces']").val(gridData[i].ItemPieces);
                $trClone.find("input[name*='ItemLines']").val(gridData[i].ItemLines);
                $trClone.find("input[name*='ItemCarats']").val(gridData[i].ItemCarats);
                $trClone.find("input[name*='JDItemPieces']").val(gridData[i].JDItemPieces);
                $trClone.find("input[name*='JDItemCarats']").val(gridData[i].JDItemCarats);
                $trClone.find("input[name*='JDItemLines']").val(gridData[i].JDItemLines);
                $trClone.find("input[name*='ProcessCode']").val(gridData[i].ProcessCode);
                $trClone.find("input[name*='WeightLoss']").val(gridData[i].WeightLoss);
                $trClone.find("input[name*='Status']").val(gridData[i].Status);
                $trClone.find("input[name*='BillingUnit']").val(gridData[i].BillingType);
                $trClone.find("input[name*='NoChargeQuantity']").val(gridData[i].NoChargeQuantity);
                $trClone.find("input[name*='BillingRate']").val(gridData[i].BillingRate);
                /*$trClone.find("input[name*='Remarks']").val(gridData[i].Remarks);*/

                $("#despatch").append($trClone);
            }

            $(".jqueryTbl-container").remove();
            $("#newone").removeClass("newone-css");
            $(".button-container").removeClass("newone-css");

           addRequiredRules();

        }
    });

    $("#ddlCustomer").on("change", function (e) {

        let accountcode = this.value;
        $.ajax({
            url: "@Url.Action("GetPendingJobworkReceipt", "JobWorkBillings")",
            type: "POST",
            data: { accountCode: accountcode },
            dataType: 'json',
            success: function (data) {

                var $gParams = $('#jqueryTbl').jqGrid("getGridParam");
                $gParams.data = data;
                $('#jqueryTbl').trigger("reloadGrid", [{ page: 1 }]);
            }
        });
    });

    function addRequiredRules() {

        $("#despatch tbody tr").each(function (i, row) {
            let $actualrow = $(row);
            $actualrow.find("td").each(function (column, td) {
                let text = $(td).find("input[type=text]").not('[name*=Remark]');
                if (text.length != 0) {
                    $(text).rules("add", { required: true, messages: { required: "" } });
                }
            });
        });
    }

    function AjaxFormSuccess(e) {

        $('#dialog').dialog('close');
    }

    function formatDate(dateStr) {
        const d = new Date(dateStr);
        return d.getDate().toString().padStart(2, '0') + '/' + d.getMonth() + 1 + '/' + d.getFullYear() + ' ' + d.getHours() + ':' + d.getMinutes().toString().padStart(2, '0');
    }
    jQuery(document).ready(function () {

        jQuery("#JobworkReceiptPop").validate({
           rules: {
                ReferenceDate: 'required',
                AccountCode: 'required',
                SerialNumber: 'required',
            },
            messages: {
                ReferenceDate: 'Select Reference Date',
                AccountCode: 'Select Customer',
                SerialNumber: 'Select Serial Number',
            },
            errorPlacement: $.noop
        });


        $("#despatch tbody tr").each(function (i, row) {

            let $actualrow = $(row);
            $actualrow.find("td").each(function (column, td) {

                let select = $(td).find("select");
                let text = $(td).find("input[type=text]").not('[name*=Remark]');

                if (select.length != 0) {
                    $(select).rules("add", { required: true, messages: { required: "" } });
                }
                if (text.length != 0) {
                    $(text).rules("add", { required: true, messages: { required: "" } });
                }
            });
        });
    });

    $(document).on("click", ".btn-close-dialog", function (e) {
        $('#dialog').dialog('close');
    })


    $("#despatch").on("input","tr input[name*='BalItemPieces']", function (e) {

        if ($(this).val() === "") {
            return;
        }
        let despatchPieces=parseInt($(this).val());
        let Pieces = parseInt($(this).closest("tr").find("input[name*='Pieces']").val());

        if (despatchPieces > Pieces) {
            $(this).val(Pieces);
        }
    });

    $("#despatch").on("input", "tr input[name*='BalItemCarats']", function (e) {

        if ($(this).val() === "") {
            return;
        }
        let despatchCarats = parseInt($(this).val());
        let Carats = parseInt($(this).closest("tr").find("input[name*='ItemCarats']").val());

        if (despatchCarats > Carats) {
            $(this).val(Carats);
        }
    });

    $("#despatch").on("input", "tr input[name*='BalItemLines']", function (e) {

        if ($(this).val() === "") {
            return;
        }
        let despatchLine = parseInt($(this).val());
        let line = parseInt($(this).closest("tr").find("input[name*='ItemLines']").val());

        if (despatchLine > line) {
            $(this).val(line);
        }
    });

    $("#despatch").on("input", "tr input[name*='BillingQuantity']", function (e) {

        if ($(this).val() === "") {
            return;
        }
        debugger;
        let bQty = parseInt($(this).val());
        let processcode = $(this).closest("tr").find("input[name*='ProcessCode']").val();
        let $rate = $(this).closest("tr").find("input[name*='Rate']");
         $.ajax({
            url: "@Url.Action("GetRateByBillingQty", "JobWorkDespatchs")",
            type: "GET",
            data: { billingQty: bQty, ProcessCode: processcode },
            dataType: 'json',
            success: function (result) {

                if (result.message === "Success") {
                    $rate.val(result.Rate)
                }
            }
        });

    });


    Array.prototype.removeByValue = function (val) {
        for (var i = 0; i < this.length; i++) {
            if (this[i] === val) {
                this.splice(i, 1);
                i--;
            }
        }
        return this;
    }

</script>
<style>
    #JobworkReceiptPop .form-control:read-only {
        background-color: #e9ecef !important;
    }

    #JobworkReceiptPop .ui-jqgrid .ui-jqgrid-htable th {
        height: 40px !important;
        /* padding: 0 2px 0 2px; */
    }

    #JobworkReceiptPop .ui-jqgrid tr.jqgrow td {
        padding: 4px !important;
    }

    #JobworkReceiptPop .ui-jqgrid .ui-jqgrid-view {
        font-size: 13px !important;
    }

    #JobworkReceiptPop .ui-widget input {
        margin-top: 5px !important;
    }

    #JobworkReceiptPop .ui-widget-content {
        border: 1px solid #efefef !important;
    }

    .newone-css {
        display: none;
    }

    #despatch th {
        font-size: 13px;
    }

    #despatch tr {
        font-size: 12px;
    }

        #despatch tr td:not(:first-child):not(:nth-child(2)) {
            /*padding-left:10px !important;
    padding-right:10px !important;*/
        }

        #despatch tr td:nth-child(3n) {
            padding-left: 10px !important;
            padding-right: 10px !important;
        }
</style>