
@using System.Collections.Generic;
@{
    ViewBag.Title = "JobworkDespatch";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using Transactiondetails.ViewModels
@model IEnumerable<JobBillingViewModel>

<section class="section dashboard mt-2">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Job Billing</h4>
                    <div class="row g-3">
                        <div class="col-10 search-bar">
                            <ul class="nav nav-pills card-header-pills">
                                <li class="nav-item ps-lg-2">
                                    <label for="inputEmail3" class="col-form-label">Account Name</label>
                                </li>
                                <li class="nav-item ps-lg-2">
                                    @Html.TextBox("AccountName", null, new { @class = "form-control" })
                                </li>
                                <li class="nav-item ps-lg-2">
                                    <label for="inputEmail3" class="col-form-label">Bill Date</label>
                                </li>
                                <li class="nav-item ps-lg-2">
                                    @Html.TextBox("ReferenceDate", null, new { @id = "ReferenceDateSearch", @autocuautocomplete="off", @class = "form-control" })
                                </li>
                                <li class="nav-item ps-lg-2">
                                    <button id="btnSearch" class="btn btn-secondary btn-sm">Search</button>
                                    <button id="btnReset" class="btn btn-secondary btn-sm">Reset</button>
                                </li>
                                <li class="nav-item ps-lg-2">
                                    @*<button id="btnPrint" class="btn btn-secondary btn-sm">Print</button>*@
                                </li>
                            </ul>
                        </div>
                        <div class="col-2 text-sm-end">
                            <button id="btnAddNew" class="btn btn-secondary">Add New</button>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="alert alert-success alert-dismissible fade show  fw-bold hide-element" role="alert">
                        <i class="bi bi-check-circle me-1"></i>
                    </div>
                    <div class="table-container">
                        <table id="jqgridtbl">
                        </table>
                        <div id="gqgridpager"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div id="dialog" title="edit view" style="overflow: hidden;"></div>
<script type="text/javascript">

</script>
@section Scripts{

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ajax-unobtrusive/3.2.6/jquery.unobtrusive-ajax.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/jquery-ui.min.js"></script>
    <script>
        var id = 0;
        $(document).on('click', '#btnAddNew', function () {
            id = 0;
            $('#dialog')
                .dialog({ title: 'Add Job Billing' })
                .dialog('open');
        });

        $('#btnSearch').on('click', function () {
            resetMessage();
            var postData = $("#jqgridtbl").jqGrid('getGridParam', 'postData');
            postData.filters = '{"groupOp":"AND","rules":[{"field":"AccountName","op":"cn","data":"' + $("#AccountName").val() + '"},{"field":"ReferenceDate","op":"eq","data":"' + $("#ReferenceDateSearch").val() + '"}]}';
            $("#jqgridtbl").jqGrid('setGridParam', { postData: postData, search: true }).trigger("reloadGrid");
        });

        $('#btnReset').on('click', function () {
            resetMessage();
            $("#AccountName").val("");
            $("#ReferenceDateSearch").val("");

            $("#jqgridtbl").jqGrid('setGridParam', {
                postData: {
                    filters: ''
                },
                search: false
            }).trigger("reloadGrid");
        });
        

        $(function () {

            $("#ReferenceDateSearch").on("focusin", function (e) {
                return false; // or e.stopPropagation();
            }).datepicker({
                /*showOn: "button",*/
                autoOpen: false,
                showButtonPanel: false,
                dateFormat: 'dd-mm-yy',
                onSelect: function () {

                }, beforeShow: function () {
                    resetMessage();
                }
            });
        });

         $(function () {

            $('#dialog').dialog({
                autoOpen: false,
                width: '100%',
                resizable: false,
                title: 'Despatch Receipt',
                modal: true,
                draggable: false,
                position: { my: "top", at: "top", of: "header"},
                //position: ['center', 20],
                open: function (event, ui) {
                    resetMessage();
                    if (id === 0) {
                        $(this).load("@Url.Action("GetJobBilling")");
                    } else {
                  $(this).load("@Url.Action("GetJobBillingBySerialNo", "JobBillings")", { id: id });
                    }

                },
                close: function (event, ui) {
                    $('#ReferenceDate1').datepicker('destroy');
                    $("#jqgridtbl").trigger("reloadGrid");
                }
            });
        });

    </script>
}

@section jQgridScripts{

    <link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
    <link href="~/Content/jquery.jqGrid/ui.jqgrid.css" rel="stylesheet" />
    <script src="~/Scripts/i18n/grid.locale-en.js"></script>
    <script src="~/Scripts/jquery.jqGrid.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>

    <script type="text/javascript">

        $(function () {
            $jqgrid = $("#jqgridtbl").jqGrid({
                url: "@Url.Action("JobBillinghDataTable", "JobBillings")",
                mtype: "GET",
                datatype: 'json',
                colModel: [
                    /*{ label: "", name: '', index: '', width: 15, align: "right", edittype: 'checkbox', formatter: "checkbox", editoptions: { value: "True:False" }, editable: true, formatoptions: { disabled: false } },*/
                    { label: "Account Code", name: "AccountCode", search: false, sortable: true, },
                    { label: "Account Name", name: "AccountName", sortable: true, searchoptions: { sopt: ['cn'] }},
                    { label: "Bill Number", name: "ReferenceNumber", sortable: true, search: false },
                    { label: "Bill Date", name: "ReferenceDate", sortable: true, formatter: "date", formatoptions: { srcformat: "m/d/Y h:i:s A", newformat: "d/m/Y" }, searchoptions: { sopt: ['eq', 'ne'] } },
                    { name: "SerialNumber", hidden: 'true' }
                ],
                sortname: "ReferenceDate",
                sortorder: "desc",
                rowNum: 10,
                rowList: [10, 20, 30, 40, 50],
                height: '100%',
                pager: jQuery('#gqgridpager'),
                viewrecords: true,
                emptyrecords: 'No records are available to display',
                jsonReader: {
                    root: "rows",
                    page: "page",
                    total: "total",
                    records: "records",
                    repeatitems: false,
                    Id: "0"
                },
                autowidth: true,
                multiselect: false,
                ondblClickRow: function (rowId) {
                    var rowData = jQuery(this).getRowData(rowId);
                    var srNumber = rowData['SerialNumber'];
                    id = srNumber;
                    $('#dialog')
                        .dialog({ title: 'Update Job Bill' })
                        .dialog('open');
                }
            }).navGrid('#gqgridpager', { view: false, del: false, add: false, edit: false },
                {}, // default settings for edit
                {}, // default settings for add
                {}, // delete instead that del:false we need this
                { closeOnEscape: true, multipleSearch: false, closeAfterSearch: true }, // search options
                {} /* view parameters*/
            )
        });

        function resetMessage() {

            if (!$("div[role='alert']").hasClass("hide-element")) {
                $("div[role='alert']").addClass("hide-element");
            }
        }

    </script>
}

<style type="text/css">

    .ui-jqgrid .ui-jqgrid-pager {
        padding-top: 5px !important;
    }

    .search-bar .form-control {
        padding: .200rem .50rem !important;
    }

    .search-bar .col-form-label {
        padding-top: calc(.175rem + 1px) !important;
    }

    .table-container {
        width: 100%;
        overflow: auto;
    }

    .ui-jqgrid {
        width: 100% !important;
    }

   .ui-jqgrid .ui-jqgrid-bdiv {
       position: relative;
       height: auto;
       overflow-x: scroll;
   }

   .ui-jqgrid .ui-jqgrid-htable th {
       white-space: nowrap;
   }

    .hide-element {
        display: none !important;
    }
</style>