
@using System.Collections.Generic;
@{
    ViewBag.Title = "JobworkReceipt";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using Transactiondetails.ViewModels
@using GridMvc.Html
@model IEnumerable<JobReciptVM>

<style type="text/css">
    .Pager span {
        text-align: center;
        color: #333;
        display: inline-block;
        width: 20px;
        background-color: #B8DBFD;
        margin-right: 3px;
        line-height: 150%;
        border: 1px solid #B8DBFD;
    }

    .Pager a {
        text-align: center;
        display: inline-block;
        width: 20px;
        background-color: #ccc;
        color: #333;
        border: 1px solid #ccc;
        margin-right: 3px;
        line-height: 150%;
        text-decoration: none;
    }
</style>
<section class="section dashboard mt-2">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Jobwork Billing</h4>
                    <div class="row g-3">
                        <div class="col-10 search-bar">
                            <ul class="nav nav-pills card-header-pills">
                                <li class="nav-item ps-lg-2">
                                    <label for="inputEmail3" class="col-form-label">Account Name</label>
                                </li>
                                <li class="nav-item ps-lg-2">
                                    @Html.TextBox("AccountName", null, new { @class = "form-control" })
                                </li>
                                <li class="nav-item ps-lg-2">
                                    <label for="inputEmail3" class="col-form-label">Receipt Date</label>
                                </li>
                                <li class="nav-item ps-lg-2">
                                    @Html.TextBox("ReferenceDate", null, new { @id = "ReferenceDateSearch", @class = "form-control" })
                                </li>
                                <li class="nav-item ps-lg-2">
                                    <button id="btnSearch" class="btn btn-secondary btn-sm">Search</button>
                                </li>
                                <li class="nav-item ps-lg-2">
                                    <button id="btnPrint" class="btn btn-secondary btn-sm">Print</button>
                                </li>
                            </ul>
                        </div>
                        <div class="col-2 text-sm-end">
                            <button id="btnAddNew" class="btn btn-secondary">Add New</button>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    @{
                        WebGrid objWebGrid = new WebGrid(null, rowsPerPage: 10, ajaxUpdateContainerId: "WebGrid", canPage: true);
                        objWebGrid.Bind(Model, rowCount: 3, autoSortAndPage: true);
                        objWebGrid.Pager(mode: WebGridPagerModes.All);
                    }
                    <div id="grd">

                        @objWebGrid.GetHtml(
                                              htmlAttributes: new { @id = "WebGrid", @class = "Grid" },
                                              tableStyle: "table table-striped table-bordered",
                                              headerStyle: "gridHead",
                                              alternatingRowStyle: "Grid-rowstyle",
                                              selectedRowStyle: "Grid-selected",
                                              rowStyle: "Grid-rowstyle",
                                              footerStyle: "gridFooter",
                   mode: WebGridPagerModes.All, //Specifies flags that describe the methods that are provided for moving between the pages of a WebGrid instance. source msdn.microsoft.com
                   columns:
                   objWebGrid.Columns
                   (
                       objWebGrid.Column(columnName: "AccountCode", header: "Account Code", style: "css-accountcode", format:@<text> @item.AccountCode<input type="hidden" name="SerialNumber" value="@item.SerialNumber"></input></text>),
objWebGrid.Column(columnName: "AccountName", header: "Account Name", style: "css-accountname"),
objWebGrid.Column(columnName: "SerialNumber", header: "Serial Number", style: "css-serialnumber"),
objWebGrid.Column(columnName: "ReferenceDate", header: "Reference Date", style: "css-referencedate", format: (item) => item.ReferenceDate != null
? item.ReferenceDate.ToString("dd/MM/yyyy") : "", canSort: true)
                @*objWebGrid.Column(format:@<text><a href="" onclick="DeleteME('@item.SerialNumber')">Delete</a></text>),*@
                @*objWebGrid.Column(header: "Action", style: "css-action", format: @<a data-value="@item.SerialNumber" href="javascript:void(0)" class="btnEdit">Edit</a>)*@
)
)
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div id="dialog" title="edit view" style="overflow: hidden;"></div>

@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ajax-unobtrusive/3.2.6/jquery.unobtrusive-ajax.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/jquery-ui.min.js"></script>
    <script type="text/javascript">
        var id = 0;
        $(document).on('click', '#btnAddNew', function () {
            id = 0;
            $('#dialog')
                .dialog({ title: 'Add Jobwork Receipt' })
                .dialog('open');
        });

        $(document).on('click', '.btnEdit', function () {
            id = $(this).attr("data-value");
            $('#dialog')
                .dialog({ title: 'Edit Jobwork Receipt' })
                .dialog('open');

        });

        $("body").on("dblclick", "#WebGrid .Grid-rowstyle td", function () {
            var row = $(this).closest("tr");
            id = $(row).find("input[type=hidden][name='SerialNumber']").val();

            title = 'Edit Jobwork Recipits';
            $('#dialog')
                .dialog({ title: 'Edit Jobwork Receipt' })
                .dialog('open');

        });

        $(function () {

            $('#dialog').dialog({
                autoOpen: false,
                width: '85%',
                resizable: false,
                title: 'Add Jobwork Receipt',
                modal: true,
                draggable: false,
                position: { my: "top", at: "top", of: "header"},
                //position: ['center', 20],
                open: function (event, ui) {
                    if (id === 0) {
                        $(this).load("@Url.Action("GetJobworkRecipt")");
                    } else {
                        $(this).load("@Url.Action("GetJobworkReciptBySerialNo")", { id: id });
                    }
                },
                close: function (event, ui) {
                    $('#ReferenceDate1').datepicker('destroy');
                }
            });
        });


        $(function () {
            $("#ReferenceDateSearch").datepicker();
        });

        $(document).on("click", "#btnSearch", function () {

            var searchUrl = "/JobWorkReceipts/GetFilterJobworkRecipt/";
            let referenceDate = $('#ReferenceDateSearch').datepicker().val();

            var data = {
                AccountName: $("#AccountName").val(),
                ReferenceDate: referenceDate
            };

            /*$("#btnSearch").attr({ 'value': 'Please wait..' });*/
            $.ajax({
                url: searchUrl,
                data: data,
                type: "POST",
                success: function (data) {
                    $("#WebGrid").html(data);
                    /*$("#btnSearch").attr({ 'value': 'Search' });*/
                }
            });
        });

    </script>

}


<style type="text/css">

    .css-accountcode {
        width: 150px;
    }

    .css-accountname {
        /*width: 150px;*/
    }

    .css-serialnumber {
        width: 150px;
    }

    .css-referencedate {
        width: 150px;
    }

    .css-action {
        width: 80px;
    }

    .search-bar .form-control {
        padding: .200rem .50rem !important;
    }

    .search-bar .col-form-label {
        padding-top: calc(.175rem + 1px) !important;
    }



    .gridTable {
        margin: 5px;
        padding: 5px;
        border: 1px #c8c8c8 solid;
        border-collapse: collapse;
        min-width: 550px;
        background-color: #fff;
        color: #fff;
    }

    .gridHead th {
        font-weight: bold;
        background-color: #646464;
        color: #fff;
        padding: 5px
    }

    .gridHead a:link, .gridHead a:visited, .gridHead a:active, .gridHead a:hover {
        color: #fff;
    }

    .gridHead a:hover {
        text-decoration: underline !important;
    }

    .gridTable tr.gridAltRow {
        background-color: #efeeef;
    }

    .gridTable tr:hover {
        background-color: #f6f70a;
    }

    .gridAltRow td {
        padding: 5px;
        margin: 5px;
        color: #333;
    }

    .gridRow td {
        padding: 10px;
        color: #333;
    }

    .gridFooter td {
        padding: 10px;
        background-color: #c9c9c9;
        color: #999;
        font-size: 12pt;
        text-align: center;
    }

    .gridFooter a {
        font-weight: bold;
        color: #333;
        border: 1px #333 solid;
        padding: 2px 6px;
    }

    .Grid-rowstyle:hover {
        background-color: #c1c1c1;
        cursor: pointer;
    }

    .Grid-rowstyle td {
        padding: 5px;
    }
</style>